---
import Layout from "../layouts/Layout.astro";
---

<Layout title="index">
    <div>
        <button  class="crear">Crear</button>
    </div>

    <script>
        const crear:any = document.querySelector('.crear');
        import postData from "../utils/post";
        crear.addEventListener('click', postData);
    </script>
</Layout>


<style>
    h1 {
        color: red;
    }
</style>