---
import Layout from '../layouts/Layout.astro';
import Entradas from '../components/Entradas.jsx';

---

<Layout title="Mi blog">
    <main class="primera-seccion-home">
        <Entradas client:load>
    </main>
</Layout>

<style lang="scss">
    .primera-seccion-home {
        padding: 2rem;
    }

</style>



